# Environnement Python
venv/
.venv/
env/
__pycache__/
*.py[cod]
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db


data/creditcard.csv

# Secrets
.env
*.key

# Streamlit
.streamlit/

 